name: Dependency Review

on:
  pull_request:

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ${{ fromJSON(vars.ACTIONS_RUNNER_LABELS || '["ubuntu-latest"]') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Dependency Review
        uses: actions/dependency-review-action@v4.8.2
