name: Release Please

on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ${{ fromJSON(vars.ACTIONS_RUNNER_LABELS || '["ubuntu-latest"]') }}
    steps:
      - name: Run release-please
        uses: googleapis/release-please-action@v4.4.0
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
